html { 
  background: url(sky.jpg) no-repeat center center fixed; 
  background-size: cover;
}
.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.weather {
  display: flex;
  font-size: 75px;
  flex-direction: column;
}