.full-page {
  height: calc(100vh - 48px * 2); /* Account for SECTION padding */
}
.padding > * {
  margin: 16px;
}
#orb {
  fill: white;
}
.white {
  color: black
}
.red {
  color: red
}
.orange {
  color: orange
}
.yellow {
  color: yellow
}
.green {
  color: green
}
.blue {
  color: blue
}
.purple {
  color: purple
}
